[submodule "Code-for-the-book-Artificial-Intelligence-Modern-Approach"]
	path = Code-for-the-book-Artificial-Intelligence-Modern-Approach
	url = https://github.com/miketestgit01/Code-for-the-book-Artificial-Intelligence-Modern-Approach.git
